/******************** banner ************************/
#logo span {
	text-align: center;
	font: 12px 黑体;
	color: #ffffff;
}
#date {
	font: 12px 黑体;
	color: #d45d5c;
}
/******************** top ***********************/
#smallCaps {
	font: small-caps 24px 微软雅黑;
	text-decoration: underline;
	line-height: 30px;
}
#楷体 {
	font: 12px 楷体;
	line-height: 12px;
}
#_700 {
	font:  italic 116px 微软雅黑;

}
#_32 {
	font: 55px 微软雅黑;
}
#redCss {
	font: 21px 微软雅黑;
}
#css {
	font: 12px 微软雅黑;
	padding: 0;
}
/******************** middle ************************/
#middle {
	font: 12px 微软雅黑;
	line-height: 16px;
	text-align: justify;
}
.caption {
	font: bold 16px 微软雅黑;
	text-decoration: underline;
}
.percent40 {
	font-style: italic;
}
/******************** bottom ************************/
#bottomTopLeft {
	padding-bottom: 5px;
}
#the {
	font: italic bold 72px 黑体;
}
#technologeOfFront {
	font: bold 42px/16px 黑体;
}
#前端技术领域 {
	font: bold 33px/1.6 黑体;
}
#bottomBottomLeft p {
	text-align: justify;
	font: 12px/16px 宋体;
	text-indent: 2em;
}
#前 {
	font: 70px/63px 微软雅黑;
}
#bottomBottomLeft #noIndent {
	text-indent: 0;
}
#bottomTopRight img {
	vertical-align: middle;
}
#灰色遮盖条 div {
	font: 26px 微软雅黑;
}
#灰色遮盖条 div span {
	font: italic 12px/140% 微软雅黑;
}
#bottomBottomRight ol li{
	font: 16px/41px 宋体;
}
#bottomBottomRight ol .前端 {
	font-style: italic;
}
#zero {
	font: 110px 微软雅黑;
}
.bigNumber {
	font: italic 21px/24px 黑体;
}
#justifyBigNumber {
	word-spacing: -3px;
}
.redHelloWorld {
	font: 12px/6px 黑体;
}
#helloWorld {
	font: italic 14px/16px 黑体;
	text-indent: 3em;
}
#quote1,#quote2 {
	font: 72px 黑体;
}
/******************** footer ************************/
#footer {
	font: 12px 黑体;
	text-align: right;
}