body {
	padding: 20px;
	margin: 0;
}
/*-----------------layout by float---------------------------*/
div {
	padding: 20px;
	border: 1px solid #999;
	overflow: auto;
}
#main {
	min-width: 600px;
}
#groupName {
	width: 160px;
	float: left;
}
#name {
	float: right;
	padding: 0;
	border: 0;
}
#personalLogo {
	width: 80px;
	float: right;
}
#personalLogo img {
	width: 80px;
	height: 80px;
}
#groupIntroduce {
	margin-left: 220px;
	margin-right: 140PX; 
}


