body {
	color: black;
	background-color: #232323;
}
header {
	background-color: #333333;
}
header a{
	color: white;
}
article {
	background-color: #DEDEDE;
}
#article1,#article2,#picture,#article3,#sidebar {
	background-color: #FFFFFF;
}
h3 {
	color: #676769;
}
h6 {
	color: #8E8D95;
}
table th {
	color: white;
	background-color: #333333;
}
table tfoot {
	background-color: #CCCCCC;
}
#sidebar h3 {
	color: black;
}
form table .message {
	color: #A6A9A0;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
	opacity: 1;
}
#sidebar button {
	color: white;
	font-size: 1.2em;
	background-color: #3355D0;
}
footer {
	color : white;
	background-color: #000000;
}