body {
	font-size: 90%;
	font-family:  "Helvetica","Arial",sans-serif;
}
header a{
	font-size: 80%;
	text-decoration: none;
}
p {
	text-indent: 2em;
}
#article2 li {
	list-style: none;
}
table thead {
	text-align: left;
}
form table .leftside {
	text-align: right;
}
#personal-description {
	vertical-align: top;
}
footer {
	text-align: center;
}
