body {
	font-size: 1em;
	font-family:  "黑体","Helvetica","Arial",sans-serif;
}
/*消除 img 图片的下边距*/
img {
	vertical-align: top;
}
#box1 {
	font: 1.2em 黑体;
}
#box2 > div {
	text-align: center;
}
#box4 > div  {
	text-align: center;
}
#box5 div {
	text-align: center;
}
#box5 span {
	font: 0.5em 黑体;
}
#box6 .text {
	text-align: center;
}
.caption {
	font: 1.2em 黑体;
}