body,div {
	margin: 0;
	padding: 0;
}
body > div {
	width: 1280px;
	margin: 0 auto;
}
div {
	box-sizing: border-box;
}
.clearFloat {
	clear: both;
}
/******************** newWorld ************************/
#topBar {
	height: 60px;
}
#logo {
	width: 110px;
	margin-left: 60px;
}
#logo img {
	position: relative;
	bottom: -8px;
}
#topBar .rightFloat {
	float: right;
	height: 60px;
	width: 5.47%;
	margin: 0 15px;
}
#首页 {
	border-bottom: 3px solid #e7504d;
}
#topBar .rightFloat img {
	position: relative;
	bottom: -4px;
}
#timeOfNewLife {
	height: 847px;
	position: relative;
}
#开始体验 {
	margin-left: 0px;
	position: absolute;
	left: 125px;
	top: 215px;
}
#time {
	padding: 10px 0;
	position: relative;
	left: -10px;
}
#timeOfNewLife input {
	width: 330px;
	padding: 10px;
	margin-top: 65px;
	border: 0px;
}
#未标题Bar{
	padding-bottom: 70px;
}
.未标题,.未标题BarText {
	width: 25%;
	float: left;
}
.未标题 {
	height: 135px;
	padding: 45px 0;
}
.未标题BarText {
	border-right: 2px solid;
	padding-bottom: 15px;
}
#noBorder {
	border: 0;
}
/******************** aboutNewWorld ************************/
#book {
	padding: 50px 0;
}
#aboutNewWorldImg {
	width: 91px;
	margin: 0 auto;
	padding: 40px 0 0;
}
#searchMap {
	height: 338px;
	padding: 45px 0;
}
#whiteBorder {
	width: 30px;
	border: 1px solid #ffffff;
	margin: 0 auto;
}
#select {
	width: 1030px;
	margin: 0 auto;
	margin-top: 35px;
}
#searchMap input {
	width: 235px;
	height: 35px;
	border: 0;
	display: block;
}
.select_box {
	width: 235px;
	height: 35px;
	border: 0;
	position: relative;
	float: left;
	margin-right: 30px;
}
.select_box div {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 7px;
	transform: rotate(180deg);
}
.select_box span {
	display: inline-block;
	width: 235px;
	height: 35px;
	padding-left: 10px;
	box-sizing: border-box;
}
.select_box ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.select_box .correct {
	display: inline;
	visibility: hidden;
	padding-left: 0;
	padding-right: 15px;
}
.select_box #selected .correct{
	visibility: visible;
}
.select_box ul li {
	height: 25px;
}
#上海活动 {
	padding: 100px 0 100px 150px;
}
.leftFloat {
	float: left;
	margin-right: 35px;
}
.bg {
	padding: 10px;
}
#香港 {
	margin-right: 0;
}
/******************** 西装部分 ************************/
#西装背景 {
	height: 565px;
	padding: 118px 0;
	position: relative;
}

#新世界TIME {
	margin-bottom: 20px;
}
#新世界TIME,#新世界北京 {
	width: 850px;
}
#更多详情 {
	position: absolute;
	right: 160px;
	bottom: 165px;
}
#更多详情 input {
	width: 105px;
	height: 35px;
	border: 1px solid #e5676a;
}
#西装部分 .leftFloat {
	float: left;
	width: 427px;
	height: 492px;
	margin: 0;
	padding: 175px 0;
}
#西装部分 #redNew {
	width: 426px;
}
#西装部分 .leftFloat div {
	border: 1px solid;
	width: 30px;
	margin: 25px auto;
}
#redNew input,#whiteNew input {
	border: 1px solid;
	width: 170px;
	height: 40px;
}
/******************** volunteer ************************/
#volunteer {
	padding-bottom: 160px;
}
#titleText {
	padding: 115px 0;
}
#redBorder {
	width: 30px;
	border: 1px solid #ea6563;
	margin: 10px auto 15px;
}
#formText {
	margin: 0 auto;
	width: 1013px;
	padding: 0;
}
#volunteer .leftFloat {
	float: left;
	margin: 0;
}
#formText #left {
	width: 290px;
	margin-right: 75px;
}
#formText #right {
	width: 648px;
	margin-right: 0px;
}
#right input[type="text"] {
	width: 310px;
	height: 40px;
	margin-right: 23px;
}
#right input[value="年龄："],#right input[value="联系地址："]{
	margin-right: 0;
}
#right input[type="submit"] {
	width: 100%;
	height: 40px;
}
#right input,#right textarea {
	margin-bottom: 15px;
	border: 0;
	padding-left: 15px;
	box-sizing: border-box;
}
#right textarea {
	padding-top: 10px;
}
#right input[type="submit"] {
	margin-bottom: 0;
}
#formText .title {
	margin: 16px 0 20px;
}
#formText #title1 {
	margin-top: 0;
}
#formText #title3 {
	margin-bottom: 0px;
}
#left .text div  img {
	margin-right: 10px;
}
#left .text {
	height: 72px;
}
#left #text3 {
	height: 25px;
}
/******************** 联系我们 ************************/
#联系我们 {
	padding: 70px 0 0;
}
#input {
	width: 510px;
	margin: 30px auto;
	background-color: yellow;
}
#联系我们 input {
	height: 40px;
	margin: 0;
	display: block;
	float: left;
	border: 0;
}
#联系我们 input[type="email"] {
	width: 430px;
	box-sizing: border-box;
	padding-left: 10px;
}
#联系我们 input[type="submit"] {
	width: 80px;
}
#pngs img {
	margin: 5px 15px;
	display: inline-block;
}
#footer {
	margin-top: 80px;
	padding: 30px 100px;
}
#footer .leftFloat {
	float: left;
}
#footer .rightFloat {
	float: right;
}
