/******************** newWorld ************************/
#logo {
	font: 21px/60px 黑体;
}
#topBar .rightFloat {
	font: 14px/60px 微软雅黑;
	text-align: center;
}
#time {
	font: 60px/1 微软雅黑;
}
#新时代 {
	font: 21px/1.5 微软雅黑;
}
#timeOfNewLife input {
	font: 30px 微软雅黑;
}
.未标题,.未标题BarText {
	text-align: center;
}
.未标题BarText {
	font: 14px 黑体;
}
/******************** aboutNewWorld ************************/
#aboutNewWorldText{
	font: 53.59px/1.75 黑体;
	text-align: center;
}
#searchMap {
	text-align: center;
}
#查找新世界 {
	font: 21px/2 微软雅黑;
}
#每个城市 {
	font: 12px/4 微软雅黑;
}       
#searchMap input {
	font: 14px 微软雅黑;
	letter-spacing: 25px;
}           
.select_box div {
	font: 20px/20px 微软雅黑;
}
.select_box span {
	font: 12px/35px 微软雅黑;
	text-align: left;
}
.select_box ul {
	font: 12px/25px 微软雅黑;
	text-align: left;
	text-indent: 10px;
}
.grayText,.blackText {
	text-align: center;
}
.blackText {
	font: 16px/2 微软雅黑;
}
.grayText {
	font: 14px 微软雅黑;
}
#important {
	font: 24px 微软雅黑;
	letter-spacing: 40px;
}
#important span {
	letter-spacing: 0;
}
/******************** 西装部分 ************************/
#新世界TIME,#新世界北京 {
	text-align: center;
}
#新世界TIME {
	font: 49.47px 微软雅黑;
}
#新世界TIME span {
	font: 157.59px/0.8 微软雅黑;
}
#新世界北京 {
	font: 21.91px/1.8 微软雅黑;
}
#西装部分 .leftFloat {
	font: 21px/1.5 黑体;
	text-align: center;
}
#redNew input,#whiteNew input {
	font: 21px 黑体;

}
/******************** volunteer ********************/
#titleText {
	text-align: center;
	font: 12px 微软雅黑;
}
#成为 {
	font: 21px 黑体;
}
#right input,#right textarea {
	font: 12px 宋体;
}
#right input[type="submit"] {
	font: 14px 黑体;
}
#formText .title {
	font: 14px 黑体;
	color: #666160;
}
#formText .text {
	font: 12px/2 宋体;
	color: #a5a3a2;
	text-align: justify;
}
#left .text div {
	text-align: right;
}
/******************** 联系我们 ************************/
#联系我们 {
	font: 12px/1.5 宋体;
	text-align: center;
}
#联系我们 span {
	font: 21px/2 黑体;
}
#联系我们 input[type="email"] {
	font: 14px 微软雅黑;
}
#联系我们 input[type="submit"] {
	font: 15px 微软雅黑;
}
#footer {
	font: 12px 宋体;
}