body {
	background-color: #212121;
}
/*---------------------- hearder -----------------------*/
header {
	background-color: #228abf;
}
.circle-textbox {
	background-color: #ffffff;
}
#enter {
	color: #ffffff;
}
#bgcolor {
	background-color: #2b2e3d; 
}
/*---------------------- leftBar -----------------------*/
#leftBar {
	background-color: #2b2e3d;
}
#circle-small {
	background-color: #bababe;
}
#ABC123 {
	color: #f6f5f5;
}
.收藏 {
	color: #6e8095;
}
ul {
	color: #6e8095;
}
#个人报表 {
	background-color: #383d4e;
	color: #ededef;
}
#li-1-2,#li-1-2-1 {
	color: #ededef;
}
/*---------------------- main -----------------------*/
#main {
	color: #aaaaaa;
	background-color: #ededec;
}
#topBar {
	background-color: #ffffff;
}
#topBar span {
	color: #6898c2;
}
#first {
	background-color: #ffffff;
}
.selectBox {
	color: #323333;
}
input[type=button] {
	color: #ffffff;
	background-color: #388ac1;
}
#second > div{
	background-color: #ffffff;
	color: #323333;
}
.dollar {
	color: #aaaaaa;
}
.yuan {
	color: #ed7326;
}
#third #caption {
	color: #323333;
}
[id|="成交量"] {
	color:  #323333;
	background-color: #ffffff;
}
[id|="成交量"] span {
	color: #aaaaaa;
}
#成交量-1 .floatRight {
	background-color: #43b29d;
}
#成交量-2 .floatRight {
	background-color: #388ac1;
}
#成交量-3 .floatRight {
	background-color: #cf4a36;
}
#成交量-4 .floatRight {
	background-color: #e2cd47;
}
.tableBox {
	background-color: #ffffff;
	color : #323333;
}
.tableBox .title {
	background-color: #f4f6f7;
	color: #aaaaaa;
}
.项目 {
	background-color: #ededf0;
}
#项目一 {
	background-color: #ffffff;
}
#购买材料一-1 {
	background-color: #ededf0;
}
#第一组项目-2 span {
	color: #aaaaaa;
}
label[for="checkboxOne"] {
	background-color: #D5D5D5;
}
#遵守协议 input[type="button"] {
	background-color: #388ac1;
}
#日历 select {
	color: #323333;
}
#日历 input{
	background-color: #ffffff;
	color: #323333;
}
#日历 table .redFont {
	color: #cd3539;
}
#汽车行业 table #tr-2 {
	background-color: #f4f5f6;
}
#汽车行业 table div {
	background-color: #dddddd;
}
#汽车行业 table [id |= "td"] {
	background-color: #7fcbf0;
}
#汽车行业 table #td-1 {
	background-color: #ed6e52;
}
#汽车行业 table #td-2 {
	background-color: #ef804f;
}
#汽车行业 table #td-3 {
	background-color: #f19e4f;
}